---
hostname: "pfsense"
domain: "test.local"
timezone: "Europe/Berlin"
language: "de_DE"
timeservers: "pool.ntp.org"
#webgui_theme: "pfsense-dark"

pfsense_interfaces:
  - descr: "LAN Interface"
    interface: "em1"
    ipv4_address: "192.168.1.1"
    ipv4_prefixlen: 24
    ipv6_address: "2001:db8::1"
    enable: true

  - descr: "WAN Interface"
    interface: "em0"
    ipv4_type: dhcp
    ipv6_type: slaac
    enable: true

  - descr: "DMZ Interface"
    interface: "em2"
    ipv4_address: "172.16.2.1"
    ipv4_prefixlen: 24
    enable: true
  
  - descr: "Management"
    interface: "em3"
    ipv4_address: "172.16.1.1"
    ipv4_prefixlen: 24
    ipv4_type: "static"
    enable: true

pfsense_dhcp_servers:
  - interface: "em1"
    enable: true
    range_from: "192.168.1.50"
    range_to: "192.168.1.250"
    netmask: "255.255.255.0"
    gateway: "192.168.1.1"
    domain: "{{ domain }}"
    defaultleasetime: 86400
    maxleasetime: 172800
    
  - interface: "em2"
    enable: true
    range_from: "172.16.2.100"
    range_to: "172.16.2.200"
    netmask: "255.255.255.0"
    gateway: "172.16.1.1"
    domain: "{{ domain }}"
    defaultleasetime: 86400
    maxleasetime: 172800