---
- name: "PfSense DHCP einrichten"
  hosts: pfsense
  collections:
  - pfsensible.core
  become: true
  become_method: su
  become_user: root
  tasks:

  - name: Setup hostname and domain
    pfsense_setup:
      hostname: "{{hostname}}"
      domain: "{{domain}}"

#  - name: setup theme
#    pfsense_setup:
#      webguicss: "{{webgui_theme}}"

  - name: timezone and language
    pfsense_setup:
      timezone: "{{timezone}}"
      language: "{{language}}"
      timeservers: "{{timeservers}}"

  - name: Add multiple interfaces
    pfsense_interface:
        descr: "{{ item.descr }}"
        interface: "{{ item.interface }}"
        ipv4_address: "{{ item.ipv4_address | default(omit) }}"
        ipv4_gateway: "{{ item.ipv4_gateway | default(omit) }}"
        ipv4_prefixlen: "{{ item.ipv4_prefixlen | default(24) }}"
        ipv4_type: "{{ item.ipv4_type | default('static') }}"
        ipv6_address: "{{ item.ipv6_address | default(omit) }}"
        ipv6_gateway: "{{ item.ipv6_gateway | default(omit) }}"
        ipv6_prefixlen: "{{ item.ipv6_prefixlen | default(128) }}"
        ipv6_type: "{{ item.ipv6_type | default('static') }}"
        enable: "{{ item.enable | default(True) }}"
    loop: "{{ pfsense_interfaces }}"

  - name: Add  VLAN
    pfsense_vlan:
      interface: em1
      vlan_id: 100
      descr: voice
      priority: 5
      state: present

  - name: Add  VLAN
    pfsense_vlan:
      interface: em1
      vlan_id: 101
      descr: printer
      priority: 5
      state: present
    

  - name: Configure DHCP servers
    pfsense_dhcp_server:
        interface: "{{ item.interface }}"
        enable: "{{ item.enable | default(true) }}"
        range_from: "{{ item.range_from }}"
        range_to: "{{ item.range_to }}"
        netmask: "{{ item.netmask | default('255.255.255.0') }}"
        gateway: "{{ item.gateway }}"
        domain: "{{ item.domain | default('example.com') }}"
        defaultleasetime: "{{ item.defaultleasetime | default(86400) }}"
        maxleasetime: "{{ item.maxleasetime | default(172800) }}"
    loop: "{{ pfsense_dhcp_servers }}"

  - name: Enable DNS Resolver
    pfsense_dns_resolver:
      state: present
      dnssec: true
      regdhcp: true
  #    regdhcpstatic: true
      hosts:
            - { host: test, domain: home.local, ip: 192.168.1.100, descr: "Example host override",
                aliases: [{ host: test-admin, domain: home.local, description: "Example aliases" }] }
    
  - name: Add operator user
    pfsense_user:
      name: operator
      descr: Operator
      scope: user
      password: password
      groups: [ 'Operators' ]
      priv: [ 'page-all', 'user-shell-access' ]