---
- name: "Setup VLANs on pfSense"
  hosts: pfsense
  gather_facts: false
  collections:
    - pfsensible.core

  tasks:

  - name: "Create VLANs"
    pfsense_vlan:
      interface: "em1"
      vlan_id: "{{ item.vlan_id }}"
      descr: "{{ item.descr }}"
      state: present
    loop: "{{ vlans }}"

  - name: "Assign VLAN interfaces"
    pfsense_interface:
      interface: "em1.{{ item.vlan_id }}"
      descr: "{{ item.descr }}"
      enable: true
      ipv4_type: static
      ipv4_address: "{{ item.ip }}"
      ipv4_prefixlen: 24
      state: present
    loop: "{{ vlans }}"