---
- name: "Setup VLAN on pfSense"
  hosts: pfsense
  gather_facts: false
  collections:
    - pfsensible.core

  tasks:

  - name: "Create VLAN on LAN interface"
    pfsense_vlan:
      interface: "NET:lan"
      vlan: 10
      descr: "printer"
      mtu: 1500

  - name: "Assign VLAN interface"
    pfsense_interface:
      interface: "vlan10"
      descr: "printer"
      enable: true
      ipv4_type: static
      ipv4_addr: "192.168.10.1"
      ipv4_subnetmask: "24"
