# playbook.yml
---
- hosts: vpn_server
  become: true
  tasks:
    - name: Install OpenVPN server packages
      package:
        name: openvpn
        state: present
      tags:
        - install
        - vpn
    - name: Generate server keys and certificates
      command: ovpn-gen-keys --all
      tags:
        - configure
        - vpn
    - name: Copy client certificates to server
      copy:
        src: /path/to/your/client.crt
        dest: /etc/openvpn/client.crt
      tags:
        - configure
        - vpn
    - name: Enable and start OpenVPN service
      service:
        name: openvpn
        state: started
        enabled: true
      tags:
        - start
        - vpn

- hosts: vpn_client
  tasks:
    - name: Download client configuration file
      get_url:
        url: http://your_vpn_server_ip/path/to/client.conf
        dest: /etc/openvpn/client.conf
      tags:
        - configure
        - vpn
    - name: Start OpenVPN client service
      service:
        name: openvpn
        state: started
        enabled: true
      tags:
        - start
        - vpn

