---
- name: "Add pfSense OpenVPN Client"
  pfsense_openvpn_client:
    name: 'Site2Site-Client'
    server_addr: server-ip
    server_port: 1194
    protocol: udp
    mode: peer_to_peer_tls
    ca: my-ca
    cert: my-client-cert
    tunnel_network: 10.8.0.0/30
    remote_network: 192.168.1.0/24
    local_network: 192.168.1.0/24
